<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>one</servlet-name>
        <servlet-class>one</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>two</servlet-name>
        <servlet-class>two</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>three</servlet-name>
        <servlet-class>three</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>four</servlet-name>
        <servlet-class>four</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>greet</servlet-name>
        <servlet-class>greet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>five</servlet-name>
        <servlet-class>five</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>six</servlet-name>
        <servlet-class>six</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>seven</servlet-name>
        <servlet-class>seven</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eight</servlet-name>
        <servlet-class>eight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nine</servlet-name>
        <servlet-class>nine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ten</servlet-name>
        <servlet-class>ten</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eleven</servlet-name>
        <servlet-class>eleven</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>one</servlet-name>
        <url-pattern>/one</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>two</servlet-name>
        <url-pattern>/two</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>three</servlet-name>
        <url-pattern>/three</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>four</servlet-name>
        <url-pattern>/four</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>greet</servlet-name>
        <url-pattern>/greet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>five</servlet-name>
        <url-pattern>/five</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>six</servlet-name>
        <url-pattern>/six</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seven</servlet-name>
        <url-pattern>/seven</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eight</servlet-name>
        <url-pattern>/eight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nine</servlet-name>
        <url-pattern>/nine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ten</servlet-name>
        <url-pattern>/ten</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eleven</servlet-name>
        <url-pattern>/eleven</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
